.navbar-items .nav-link {
    color: $primary !important;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.navbar-items .btn {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    
}


