/* make the customizations */
$primary: #7669CD;
$secondary: #5D50B2;
$light: #FCFCFF;
$dark: #554C7D;

:export {
    primary: $primary;
    secondary: $secondary;
    light: $light;
    dark: $dark;
}

#ce-send-message-button {
    position: relative !important;
    bottom: 2px !important;
    left: 1px !important;
    background-color: #7a39e0 !important;
}

.ce-my-message-timestamp {
    color: #7a39e0 !important;
}

.transition-3 {
    transition: all 0.33s ease;
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
}

.transition-5 {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}